---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
}

const { links = [] } = Astro.props;
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full bg-white dark:bg-slate-900 border-b dark:border-b-0">
  <div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-7xl md:px-4">
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleTheme />
        <button
          type="button"
          class="ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition"
          aria-label="Toggle Menu"
          data-toggle-menu
        >
          <Icon name="tabler:menu" class="w-6 h-6" />
        </button>
      </div>
    </div>
    <nav
      id="menu-items"
      class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
    >
      <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
        {links.map((link) => (
          <li>
            <a
              class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>

<style>
  @media (max-width: 768px) {
    #menu-items {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    #menu-items.flex {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const toggleMenu = document.querySelector('[data-toggle-menu]');
    const menuItems = document.querySelector('#menu-items');

    if (toggleMenu) {
      toggleMenu.addEventListener('click', () => {
        if (menuItems) {
          menuItems.classList.toggle('hidden');
          menuItems.classList.toggle('flex');
        }
      });
    }
  });
</script>
