---
import ContactForm from "../ContactForm.jsx"; // Import the React form component
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Kontaktirajte nas"
      description="Hajde da popričamo o vašim potrebama"
    />
    <!-- Koristite React formu umesto stare Astro forme -->
    <ContactForm client:load />
  </div>
</Section>

