---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Evo koji su koraci u našoj saradnji sa vama.";
---

<Section id="services">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Kako izgleda saradnja sa nama?"
      description={description}
    />
    <Accordion />
  </div>
</Section>
