---
const { post } = Astro.props;
---

<article class="mb-6 transition">
  <div class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6">
    {post.image && (
      <img
        src={post.image}
        class="w-full h-full object-cover rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        alt={post.title}
        loading="lazy"
        decoding="async"
      />
    )}
  </div>
  <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading">
    {post.title}
  </h3>
  {post.description && <p class="text-gray-700 dark:text-gray-400">{post.description}</p>}
</article>
