---
import { Icon } from 'astro-icon/components';
---

<button
  type="button"
  class="toggle-menu flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group"
  aria-label="Toggle Menu"
  data-aw-toggle-menu
>
  <span class="sr-only">Toggle Menu</span>
  <span
    aria-hidden="true"
    class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:rotate-45 group-[.expanded]:translate-y-2.5"
  ></span>
  <span
    aria-hidden="true"
    class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:opacity-0"
  ></span>
  <span
    aria-hidden="true"
    class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:-rotate-45 group-[.expanded]:-translate-y-2.5"
  ></span>
</button>
