---
import '../styles/globals.css';
import '../styles/blog.css';

const { title } = Astro.props;
---

<html lang="sr">
  <head>
    <script defer data-domain="kljucnarec.rs" src="https://plausible.io/js/script.hash.outbound-links.pageview-props.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>