---
import { Image } from "astro:assets";
import ContactForm from "../ContactForm.jsx"; // Import the React form component
import decorForm from "../../assets/pics/contact-pic.png";
---

<div
  class="flex relative justify-start items-center p-[60px] bg-[#F3F3F3] rounded-[45px] overflow-hidden"
>
  <!-- Render the React form component -->
  <ContactForm client:load />

  <picture class="absolute right-[-25%] top-[2%] bottom-[2%] hidden lg:block">
    <Image src={decorForm} alt="decor" />
  </picture>
</div>

<style>
  .form-checkbox {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  .form-checkbox:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--green);
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
  }

  .form-checkbox:checked:before {
    transform: scale(0.6);
  }
</style>